<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div id="app">
    <header>
        <form action="#" class="goods-search" @submit="filterGoods">
            <input type="text" class="goods-search" v-model="searchLine">
            <button class="search-button button">Искать</button>
        </form>
        <div class="cart">
            <button class="cart-button button">Корзина</button>
            <div class="cart-container">
                <ul class="cart-goods" v-if="isVisibleCart"></ul>
                <h2 v-else class="emptyCart">Корзина пуста</h2>
            </div>
        </div>
    </header>
    <main>
        <div class="goods-list">
            <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
                <img src="https://via.placeholder.com/150" alt="">
                <h3>{{ good.product_name }}</h3>
                <p>{{ good.price }}</p>
                <button class="button">Добавить</button>
            </div>
            <h2 class="emptyGoodList" v-if="isEmptyGoodsList">Нет данных</h2>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>

</html>
