$base-color: #d1b2b2;

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

header {
    background-color: $base-color;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;

    & > .cart-button {
        border: none;
        padding: 6px 24px;
        font-size: 1rem;
        font-weight: 900;
        background-color: #fffc3a;
        color: #000;
        border-radius: 15px;
        

        &:focus {
            outline: none;
        }
    }
}

main {
    margin: 54px auto 0;
    max-width: 1200px;
}

.goods-list {
    padding: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

.goods-item {
    text-align: center;
    box-shadow: 0 0 3px #888;
    box-sizing: border-box;
    padding: 16px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px rgb(72, 197, 47);
    }

    &>p {
        margin-bottom: 0;
    }

}