$base-color: #d1b2b2;

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

header {
    background-color: $base-color;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 14px;
    align-items: center;
    position: fixed;
    top: 0;
}

.button {
    border: none;
    padding: 6px 24px;
    font-size: 1rem;
    font-weight: 900;
    background-color: #fffc3a;
    color: #000;
    border-radius: 15px;
    &:focus {
        outline: none;
    }
}

.goods-search-value {
    width: 100%;
}

.cart {
    position: relative;
    & .emptyCart{
        margin: 10px;
        text-align: center;
    }
    & > .cart-container {
        position: absolute;
        margin-top: 14px;
        width: 500px;
        max-width: calc(100vw - 28px);
        right: 0;
        background-color: #fff;
        border: 1px solid #f6f6f6;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

        & h4 {
            text-align: center;
        }
    }
}

.cart-goods {
    list-style: none;
    padding: 0 16px;

    & > .cart-item {
        display: grid;
        grid-template-columns: 1fr 70px 19px auto 19px;
        column-gap: 5px;
        margin: 2px 0;
        padding: 2px 0;
        & > .cartBtn {
            margin: 0;
            padding: 0;
            width: 18px;
            height: 18px;
            font-weight: bold;
            text-align: center;
            background: $base-color;
            border-radius: 50%;
            border: none;
            outline: none;
        }
        & > .cart-item-price {
            display: block;
            justify-self: end;

            &:after {
                content: 'р.';
            }
        }
        &:hover {
            background: #fffc3a;
        }
        & > .cart-item-count {
            display: block;
            justify-self: end;

            &:after {
                content: 'шт.';
            }
        }
    }
}

main {
    margin: 54px auto 0;
    max-width: 1200px;
}

h2 {
    text-align: center;
}
.goods-not-found{
    padding: 16px;
    & > h3 {
        text-align: center;
    }
}
.goods-list {
    padding: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;

    & > .goods-item {
        text-align: center;
        box-shadow: 0 0 3px #888;
        box-sizing: border-box;
        padding: 16px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 5px rgb(72, 197, 47);
        }

        &>p {
            margin-bottom: 0;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.hotify-list {
    position: fixed;
    width: 360px;
    max-height: calc(100vh - 58px);
    top: 59px;
    left: 0;
    overflow: auto;

    & > .notify{
        margin: 5px;
        border-radius: 5px;
        padding: 16px;
        text-align: center;
        background: #86bdff;

        &.info {
            background: #86bdff;
        }

        &.warning {
            background: #fdffa1;
        }

        &.error{
            background: #cd8c8f;
        }
    }
}